.chat-widget {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__comments, &__form {
        width: 100%;
    }

    &__comments {
        flex: 1 1 auto;
    }

    &__form {
        display: flex;
        width: 100%;
    }

    &__field {
        flex: 1 1 auto;
    }
}